/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	header .logo{
		text-align:left;
	}

	header .logo img{
		height:auto;
	}

	header nav ul{
		text-align:right;
	}

	header nav ul li{
		list-style-type:none;
		display:inline-block;
		margin-left:20px;
		border-bottom:0;
	}

	header nav ul li a.active{
		border-bottom:1px solid #f08642;
	}

	header nav .special{
		background-color:#999;
		color:#fff;
		padding:5px 17px 7px 17px;
		border-radius:15px;
	}

	header nav .special:hover, header nav .special.active{
		background-color:#f08642;
		color:#fff;
		opacity:1;
		padding:5px 17px 7px 17px;
	}

	.contactblock .item input, .contactblock .item textarea{
		width:60%;
	}

	.about{
		padding-top:50px;
		padding-bottom:50px;
	}

	.services{
		padding-top:50px;
		padding-bottom:20px;
	}

	.services .item{
		margin-bottom:0;
	}
	h1,h2,h3,h4,h5,h6{
		margin-top:0;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}