body{
	margin:0;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-size:16px;
}

img{
	max-width:100%;
}

a{
	color:#333;
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
}


header{
	width:100%;
	font-size:18px;
	position:fixed;
	background-color:#fff;
	box-shadow:2px 2px 2px rgba(0,0,0,0.3);
	padding-top:15px;
	padding-bottom:15px;
	z-index:999;
}

header .logo{
	float:left;
	width:50%;
}

header nav{
	float:right;
	width:50%;
	text-align:right;
	padding-top:12px;
}

header nav ul{
	padding:0;
	margin:0;
}

header nav ul li{
	list-style-type:none;
	display:inline-block;
	margin-left:15px;
}


.hero{
	width:100%;
	background-image:url('../images/823514072-2048x2048.jpg');
	background-size:cover;
	background-position:center center;
	height:500px;
	display:table;
}

.hero .tagline{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:#fff;
	text-shadow:5px 5px 10px rgba(0,0,0,0.8);
}

.hero .tagline h1{
	font-size:50px;
	font-weight:700;
}

.hero .tagline .subtitle{
	font-weight:500;
}

.content-area{
	padding-top:70px;
}

.bg.orange{
	background-color:#f08642;
}

.intro{
	padding-top:40px;
	padding-bottom:25px;
}

.ribbon-wrap{
	padding:30px 0;
}

.ribbon-wrap .item{
	background-color:#eee;
	padding:15px;
	margin-bottom:15px;
}

.bigblock{
	text-align:center;
	color:#fff;
	padding:30px 0;
}

.bigblock .row{
	margin-top:35px;
}

.bigblock .item{
	padding:0 5%;
}

.bigblock .item .icon{
	width:30%;
	margin:0 auto 20px auto;
}

.bigblock .item h5{
	margin-bottom:15px;
}

